.character {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  max-width: 100%;
}

.character-info {
  background-color: #333; /* Цвет фона для тёмных тонах */
  color: #fff; /* Цвет текста */
  border-radius: 8px;
  padding: 20px;
  width: calc(25% - 20px); /* Ширина карточки для 4 карточек на одной строке */
  margin-bottom: 20px; /* Расстояние между карточками */
  box-sizing: border-box; /* Учитываем padding и border в расчетах */
  text-align: center;
}

.character-img {
  max-width: 100%;
  height: auto;
}

.character-name {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Медиа-запрос для 3 карточек на одной строке */
@media (max-width: 1200px) {
  .character-info {
    width: calc(33.33% - 20px);
  }
}

/* Медиа-запрос для 2 карточек на одной строке */
@media (max-width: 800px) {
  .character-info {
    width: calc(50% - 20px);
  }
}

/* Медиа-запрос для 1 карточки на одной строке */
@media (max-width: 500px) {
  .character-info {
    width: 100%;
  }
}
